/*

Colour Pallet Light Mode:

#ffa3a5 - Primary Variant
#fb6376 - Secondary Variant
#fffbdb - Secondary Colour
#ffec51 - Primary Colour
#feffa5 - Background Colour

Colour Pallet Dark Mode:

#84e296 - Primary Variant
#254d32 - Secondary Variant
#bfacc8 - Seondary  Colour
#302f4d - Primary Colour
#120d31 - Background Colour

*/

:root {
  --primary-colour: #ffec51;
  --primary-variant: #ffa3a5;
  --secondary-colour: #fffbdb;
  --secondary-variant: #fb6376;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: #feffa5;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-colour: #302f4d;
  --primary-variant: #84e296;
  --secondary-colour: #bfacc8;
  --secondary-variant: #254d32;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #120d31;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  background-color: var(--background);
  font-family: Comfortaa, sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Kaushan Script", sans-serif;
  font-size: 6.25rem;
  margin-bottom: 0;
  color: var(--primary-colour);
}

h2 {
  font-size: 32px;
  font-weight: normal;
  color: var(--primary-variant);
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  background-color: #373c4f;
  z-index: 999;
  font-size: calc(15px + 0.390625vw);
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
}

nav a {
  margin-right: 25px;
  color: var(--primary-colour);
  text-decoration: none;
  border-bottom: 3px solid transparent; /* Apply border to all links */
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  color: var(--on-background);
  border-bottom: 3px solid; /* Apply border only to nav links on hover/focus */
}

/* Media Query for adjusting size based on screen width */
@media screen and (max-width: 850px) {
  /* Adjustments for smaller screens */
  nav a {
    margin-right: 15px; /* Decrease margin for smaller screens */
  }

  .text-box {
    width: 80%; /* Adjust width of text box for smaller screens */
  }

  .image-container {
    margin-right: 15px; /* Decrease margin for smaller screens */
  }

  .fas {
    font-size: 2rem; /* Decrease size for smaller screens */
    display: none;
  }
  .toggle-text {
    display: none;
  }
}

/* Media Query for adjusting size based on screen width */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Adjustments for medium screens */
  h1 {
    font-size: 4rem; /* Decrease font size for medium screens */
  }

  h2 {
    font-size: 2rem; /* Decrease font size for medium screens */
  }

  .text-box {
    width: 60%; /* Adjust width of text box for medium screens */
  }

  .image-container {
    margin-right: 20px; /* Decrease margin for medium screens */
  }

  .fas {
    font-size: 2.5rem; /* Adjust size for medium screens */
  }
}

/* Media Query for adjusting dark mode toggle text based on screen width */
@media screen and (min-width: 851px) and (max-width: 1024px) {
  .toggle-text {
    transform: translateY(-1rem); /* Move the toggle text up by 1rem */
  }
}

/* Media Query for adjusting size based on screen width */
@media screen and (min-width: 1025px) {
  /* Adjustments for larger screens */
  h1 {
    font-size: 8rem; /* Increase font size for larger screens */
  }

  h2 {
    font-size: 3rem; /* Increase font size for larger screens */
  }

  .title-group {
    margin-bottom: 100px; /* Increase margin for larger screens */
  }

  .about-container {
    flex-direction: row; /* Display about container items in row for larger screens */
  }

  #about,
  #contact {
    width: 50%; /* Set width of about and contact sections for larger screens */
  }

  .image-container {
    width: 300px; /* Set width of image container for larger screens */
  }

  img {
    height: auto; /* Make image height auto for larger screens */
    width: 100%; /* Make image width 100% for larger screens */
  }

  .text-box {
    width: 50%; /* Set width of text box for larger screens */
  }

  footer {
    font-size: 3rem; /* Decrease font size for larger screens */
  }

  .fas {
    font-size: 3rem; /* Adjust size for larger screens */
  }
}
/* Additional styles for the preloader container */
.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 9999; /* Make sure it appears above other content */
}

.hide {
  display: none; /* Hide the preloader */
}
/* Home Section */
.title-group {
  text-align: center;
}

/* About Section */
.about-container {
  display: flex;
}

#about,
#contact {
  background-color: var(--secondary-colour);
}

#about h1 {
  margin-top: 0;
}

.wave-end,
.wave {
  fill: var(--secondary-colour);
}
.wave {
  margin-bottom: -10px;
}

.image-container {
  border: 1px solid var(--secondary-colour);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: auto;
  background: var(--background);
  box-shadow: var(--primary-colour);
}

/* img {
  height: 300px;
  width: 300px;
  color: var(--secondary-variant);
} */

/* Projects Section */
.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-colour);
  font-size: 15px;
  outline: none;
}

button:disabled {
  background: var(--primary-colour);
  color: var(--on-primary);
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-colour);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-colour);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-colour);
  color: var(--on-primary);
}

.outline {
  background: var(--secondary-colour);
  color: var(--on-primary);
}

.outline:hover {
  background: var(--primary-colour);
  color: var(--on-primary);
}

.text-box {
  width: 40%;
  text-align: justify;
  background: var(--primary-colour) !important;
  color: var(--secondary-colour);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}

/* Contact Section */
.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-colour);
}

.fab:hover {
  color: var(--on-background);
  border: none !important;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 15px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  color: var(--primary-colour);
}

.theme-switch {
  display: inline-flex; /* Use inline-flex to align items perfectly */
  align-items: center; /* Align items vertically */
}

.theme-switch input {
  display: none;
}

.slider {
  background: var(--on-background-alt); /* Set default background color */
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease; /* Added transition for background color */
  width: 60px; /* Width of the slider */
  height: 34px; /* Height of the slider */
  border-radius: 34px; /* Rounded corners for the slider */
}

.slider::before {
  background: var(--background); /* Set default circle color */
  content: "";
  position: absolute;
  transition: transform 0.3s ease; /* Added transition for transform */
  width: 26px; /* Width of the circle */
  height: 26px; /* Height of the circle */
  border-radius: 50%; /* Rounded corners for the circle */
  left: 4px; /* Adjusted position */
  top: 4px; /* Adjusted position */
}

input:checked + .slider {
  background: var(
    --primary-colour
  ); /* Change background color for checked state */
}

.theme-switch input:checked + .slider::before {
  transform: translateX(26px); /* Adjusted transform value */
}

[data-theme="dark"] input:checked + .slider::before {
  background: var(
    --background
  ); /* Change circle color to match background color in dark mode checked state */
}

.fas {
  font-size: 2rem; /* Increase the size for larger screens */
  margin-right: 5px;
}

.icon-theme-switcher {
  width: 2.25rem;
  height: 2.25rem;
}

/* Media Query for adjusting size based on screen width */
@media screen and (min-width: 768px) {
  .fas {
    font-size: 3rem; /* Adjust size for larger screens */
  }
}

footer {
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  font-family: "Kaushan Script", sans-serif;
  text-align: center;
  position: relative;
  font-size: 5rem;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 469px) {
  /* Adjustments for smaller screens */
  nav {
    font-size: 1rem;
  }
  nav a {
    margin-right: 10px; /* Decrease margin for smaller screens */
  }

  .text-box {
    width: 80%; /* Adjust width of text box for smaller screens */
  }

  .image-container {
    margin-right: 15px; /* Decrease margin for smaller screens */
  }

  .fas {
    font-size: 2rem; /* Decrease size for smaller screens */
    display: none;
  }
  .toggle-text {
    display: none;
  }
}