@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
    --primary-colour: #ffec51;
    --primary-variant: #ffa3a5;
    --secondary-colour: #fffbdb;
    --secondary-variant: #fb6376;
    --on-primary: rgb(250, 250, 250);
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgba(66, 66, 66, 0.7);
    --background: #feffa5;
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  }
  
  [data-theme='dark'] {
    --primary-colour: #302f4d;
    --primary-variant: #84e296;
    --secondary-colour: #bfacc8;
    --secondary-variant: #254d32;
    --on-primary: #000;
    --on-background: rgba(255, 255, 255, 0.9);
    --on-background-alt: rgba(255, 255, 255, 0.7);
    --background: #120d31;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-variant);
    font-family: "Inter", sans-serif;
    background-color: var(--background);
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    background-color: #373c4f;
    z-index: 999;
    font-size: calc(15px + 0.390625vw);
    letter-spacing: 3px;
    padding: 25px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
}

nav a {
    margin-right: 25px;
    color: var(--primary-colour);
    text-decoration: none;
    border-bottom: 3px solid transparent; /* Apply border to all links */
    font-weight: bold;
}

nav a:hover,
nav a:focus {
    color: var(--on-background);
    border-bottom: 3px solid; /* Apply border only to nav links on hover/focus */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    nav {
        padding: 15px; /* Decrease padding for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
    }

    nav a {
        margin-right: 15px; /* Decrease margin for smaller screens */
    }
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 15px;
  }
  
  .theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .toggle-text {
    color: var(--primary-colour);
  }
  
  .theme-switch {
    display: inline-flex; /* Use inline-flex to align items perfectly */
    align-items: center; /* Align items vertically */
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: var(--on-background-alt); /* Set default background color */
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease; /* Added transition for background color */
    width: 60px; /* Width of the slider */
    height: 34px; /* Height of the slider */
    border-radius: 34px; /* Rounded corners for the slider */
  }
  
  .slider::before {
    background: var(--background); /* Set default circle color */
    content: '';
    position: absolute;
    transition: transform 0.3s ease; /* Added transition for transform */
    width: 26px; /* Width of the circle */
    height: 26px; /* Height of the circle */
    border-radius: 50%; /* Rounded corners for the circle */
    left: 4px; /* Adjusted position */
    top: 4px; /* Adjusted position */
  }
  
  input:checked + .slider {
    background: var(--primary-colour); /* Change background color for checked state */
  }
  
  .theme-switch input:checked + .slider::before {
    transform: translateX(26px); /* Adjusted transform value */
  }
  
  [data-theme='dark'] input:checked + .slider::before {
    background: var(--background); /* Change circle color to match background color in dark mode checked state */
  }
  
  .fas {
    font-size: 2rem; /* Increase the size for larger screens */
    margin-right: 5px;
  }
  
  .icon-theme-switcher {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  /* Media Query for adjusting size based on screen width */
  @media screen and (min-width: 768px) {
    .fas {
      font-size: 3rem; /* Adjust size for larger screens */
    }
  }

/* Map Styles */
iframe {
    margin-top: 6rem;
    width: 90rem;
    height: 70rem;
    border-radius: 5%;
    border: red;
}

  /* Additional styles for rabbit and clouds as css is different */
  .rabbit {
    width: 5em;
    height: 3em;
    background: #ffffff;
    border-radius: 70% 90% 60% 50%;
    position: absolute; /* Change position to absolute */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    box-shadow: -0.2em 1em 0 -0.75em #b78e81;
    transform: rotate(0deg) translate(-2em, 0);
    animation: hop 1s infinite linear;
    z-index: 1;
  }

  .clouds {
    background: white;
    width: 2em;
    height: 2em;
    border-radius: 100% 100% 0 0;
    position: absolute; /* Change position to absolute */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    opacity: 0;
    transform: translate(0, 0);
    animation: cloudy 1s infinite linear forwards;
    box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 0 white;
  }
  
  .clouds:before,
  .clouds:after {
    content: '';
    position: absolute;
    box-shadow: 5em 2em 0 -0.3em white, -2em 2em 0 white;
  }
  
  .clouds:before {
    width: 1.25em;
    height: 1.25em;
    border-radius: 100% 100% 0 100%;
    background: white;
    left: -30%;
    bottom: 0;
  }
  
  .clouds:after {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100% 100% 100% 0;
    background: white;
    right: -30%;
    bottom: 0;
  }
